/* PROJECT CSS*/

body {
	background-color: #dcf9e9;
}
p {
	font-family: "Helvetica", sans-serif;
	color: #000;
	font-size: 10pt;
}
h1,
h2,
h3 {
	font-size: 30pt;
	font-family: "Calibri";
	color: #31577a;
}
h2 {
	font-size: 22pt;
	color: #501a69;
}
h3 {
	font-size: 16pt;
	color: #732999;
	text-decoration: uppercase;
}
header {
	text-align: center;
	margin-left: 50px;
	margin-top: 25px;
	width: 400px;
	float: left;
	background-color: #56edd0;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
}
header img {
	height: 300px;
	width: 200px;
	clear: both;
	position: relative;
}
section {
	float: left;
	width: 700px;
	margin-top: 25px;
	margin-left: 15px;
	background-color: #ed9ff8;
	padding: 20px;
	border-radius: 15px;
}
section div p {
	color: #fff;
	font-size: 10pt;
}