/* PROJECT CSS*/

body {
	background-color: #d9eefa;
}
p {
	font-family: "Helvetica", sans-serif;
	color: #000;
	font-size: 10pt;
}
h1,
h2,
h3 {
	font-size: 30pt;
	font-family: "Calibri";
	color: #31577a;
}
h2 {
	font-size: 22pt;
	color: #501a69;
}
h3 {
	font-size: 16pt;
	color: #732999;
	text-decoration: uppercase;
}
header {
	margin-left: 50px;
	margin-top: 30px;
	width: 400px;
	float: left;
	background-color: #56edd0;
	padding: 10px;
	border-radius: 15px;
	clear: none;
	text-align: center;
}
header img {
	height: 200px;
	width: 120px;
	clear: both;
}
section {
	float: left;
	width: 700px;
	margin-top: 30px;
	margin-left: 15px;
	background-color: #ed9ff8;
	padding: 20px;
	border-radius: 15px;
}
section div p {
	color: #fff;
	font-size: 10pt;
}
ul {
	position: absolute;
	top: 0;
	left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
	position: relative;
    display: inline;
    float: left;
    width: 100%;
}
ul li a {
	display: block;
	background-color: #000;
    height: 50px;
	text-align: right;
	color: #fff;
    font-family: "Century Gothic", sans-serif;
    font-size: 15pt;
    text-decoration: none;
    padding-top: 18px;
    padding-right: 15px;
}